body {
    margin 0;
    padding: 0;
    background: #DFCC89;
}
#main-content {
    margin: 30px;
    text-align: center;
    color: #3D2399;
}
#main-content h1 {
    font: 40px Arial, Helvetica, sans-serif;
}
#main-content p {
    font:24px "Times New Roman", Times, Georgia, serif;
}
#main-content p strong{
    font-size: 70px;
    color:#000000;
}